.gallery__wrapper {
  background-color: white;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto;
  padding: 16px;
}

.gallery__user-albums--hidden {
  display: none;
}

.user-albums__header {
  margin: 16px 0px;
}

.user-albums__previews {
  display: flex;
  flex-wrap: wrap;
}